.product-body-content {
  height: 100rem;
}

.side-bar-category {
  align-content: center;
}

.side-bar-category-header {
  background: #57dc4b;
  color: #fff;
}

.side-bar-category {
  margin-left: 1rem;
  margin-right: 0px;
  margin-top: 10rem;
}

h5.card-title {
  word-wrap: break-word;
  /* max-width: 100%; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: inline-block; */
}

.my-card {
  width: 20rem;
  height: 30rem;
}

.my-card-img{
  height: 20rem;
}
