.product-body-content {
  height: 100rem;
}

.side-bar-category {
  align-content: center;
}

.side-bar-category-header {
  background: #57dc4b;
  color: #fff;
}

.side-bar-category {
  margin-left: 1rem;
  margin-right: 0px;
  margin-top: 10rem;
}
